*.log
/*.php
!db
wp-config.php
wp-admin
wp-includes
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/*
wp-content/uploads/2018
!wp-content/uploads/2018/09
!wp-content/uploads/2018/10
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/*
!wp-content/plugins/advanced-custom-fields-pro
!wp-content/plugins/what-the-file
!wp-content/plugins/svg-support

wp-content/themes/*
!wp-content/themes/client-base

/.idea

!.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
.DS_Store
*.DS_Store

# ignore compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
