.btn {
  display      : inline-block;
  padding      : 0.2em 1.1em;
  font-size    : 0.875rem;
  font-weight  : 400;
  color        : $color-cta;
  border       : 1px solid $color-cta;
  border-radius: 5px;
  cursor       : pointer;

  &:hover {
    color           : $color-white;
    background-color: $color-cta;
  }

  &:focus {
    color: $color-white;
  }

  &:active {
    transform: translateX(1px) translateY(1px);
  }

  &-hero {
    padding     : 0.4em 1.4em;
    font-size   : 1rem;
    font-weight : 700;
    color       : $color-white;
    border-color: $color-white;

    &:hover {
      color           : $color-cta;
      background-color: $color-white;
    }

    &:focus {
      color: $color-cta;
    }
  }
}