.post-title {
  padding      : 0.7em 1%;
  margin-bottom: 0;
  font-weight  : 400;
  text-align   : center;
  @include breakpoint(medium) {
    font-size: 2.5rem;
  }
}

.entry-date {
  margin-bottom: 15px;
}

.category {
  margin-right : 1em;
  margin-bottom: 0.5em;

  &-list {
    display      : flex;
    flex-wrap    : wrap;
    margin-bottom: 1em;
  }

  &-link {
    font-size     : 1.2em;
    text-transform: uppercase;

    &.active {
      font-weight: 700;
      color      : $color-cta;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
