/**/
.main-footer {
  color: $color-white;

  a {
    color: inherit;
  }
}

.mayden-logo {
  width     : 170px;
  height    : 43px;
  max-width : 170px;
  max-height: 43px;
}

.footer-menu {
  margin    : 0;
  list-style: none;
  @include breakpoint(medium) {
    display        : flex;
    justify-content: space-between;
    flex-wrap      : wrap;
    text-align     : right;
  }

  .menu-item {
    margin-bottom: 0.5em;

    &:hover a {
      text-decoration: underline;
    }

    a {
      font-weight   : 400;
      font-size     : 0.9em;
      text-transform: uppercase;
    }
  }
}
/*
.social {
  display: flex;

  &-link {
    display     : block;
    padding     : 0.4em;
    margin-right: 0.3em;
    border      : 1px solid $color-white;
    transition  : all 0.1s ease;

    &:hover {
      transform: translateY(-3px);
    }
  }

  &-icon {
    max-width : 20px;
    max-height: 20px;
  }
}
*/
.footer-links a:not(:last-child)::after {
  content    : "|";
  margin-left: 0.3em;
}

.up {
  position  : fixed;
  bottom    : 13%;
  right     : 1%;
  z-index   : 3;
  width     : 40px;
  height    : 40px;
  max-width : 40px;
  max-height: 40px;
  opacity   : 0;
  cursor    : pointer;
  transition: opacity 0.8s ease;
  background-color: white;
  border: 1px solid white;

  &.shown {
    opacity: 0.7;
  }
}

.cookie-banner {
  position        : fixed;
  left            : 0;
  bottom          : 0;
  z-index         : 1;
  width           : 100%;
  padding         : 0.5em;
  font-size       : 0.85em;
  color           : $color-white;
  background-color: $color-text;
}

#copyright-wrapper {
  padding-top: 30px;
}
