/**/
.hamburger {
  position: absolute;
  top     : 0.8em;
  right   : 1em;
}

.main-menu {
  list-style-type: none;
  margin         : 0;
  text-transform : uppercase;
  @include breakpoint(small down) {
    position        : absolute;
    top             : 0;
    right           : -100%;
    z-index         : 1;
    width           : 100%;
    padding         : 2em 1.5em;
    //max-width       : 500px;
    background-color: $color-text;
    transition      : all 0.3s ease-in-out;

    .menu-item {
      &:not(:last-child) {
        border-bottom: 1px solid $color-white;
      }
    }

    .current-menu-item a {
      color: $color-heading;
    }

    a {
      display       : block;
      width         : 100%;
      padding-top   : 0.8em;
      padding-bottom: 0.8em;
      font-weight   : 700;
      color         : $color-white;
    }

    &.is-shown {
      right: 0;
    }
  }
  @include breakpoint(medium) {
    &-container {
      height: 100%;
    }
    display         : flex !important;
    align-items     : center;
    justify-content : space-around;
    height          : 100%;
    background-color: transparent;

    a {
      padding-right : 0.8em;
      padding-left  : 0.8em;
      padding-bottom: 1em;
      font-weight   : 400;
      font-size     : 0.9rem;
      color         : $color-text;
      border-bottom : 4px solid transparent;

      &:hover {
        border-color: $color-heading;
      }
    }

    .current-menu-item a {
      border-color: $color-heading;
    }
  }
}