.main-container {
  position: relative;
  overflow: hidden;
}

.page-section {
  padding-top   : 3em;
  padding-bottom: 3em;
}

.content-column {
  justify-content: center;
  @include breakpoint(medium) {
    justify-content: space-evenly;
  }
}