.bottom {
  &-15 {
    margin-bottom: 15px;
  }
}

.top {
  &-15 {
    margin-top: 15px;
  }
}

.bg {
  &-grey {
    background-color: $color-grey;
  }

  &-footer {
    background-color: $color-footer-bg;
  }
}

ul {
  margin         : 0;
  list-style-type: none;
}

.capitalize {
  text-transform: capitalize;
}

.no-text-transform {
  text-transform: none;
}

.relative {
  position: relative;
}

img.rounded {
  border-radius: 50%;
}

.text-style {
  ul {
    list-style-type: none;

    li {
      position     : relative;
      padding-left : 1em;
      margin-bottom: 0.5em;

      &:before {
        content : "\2022";
        position: absolute;
        top     : -1px;
        left    : 0;
        color   : $color-cta;
      }
    }
  }
  /*
  .table {
    margin-bottom: 1.5em;
    @include breakpoint(medium down) {
      tr:first-child {
        display: none;
      }
    }

    td {
      padding       : 0.5em;
      vertical-align: top;
      @include breakpoint(medium down) {
        display: block;

        &:last-child {
          border-bottom: 1px solid $color-text;
        }
      }
      @include breakpoint(large) {
        border-bottom: 1px solid $color-text;
      }
    }
  }
 */
}

.blur-up {
  filter: blur(5px);
  transition: filter 400ms;

  &.lazyloaded {
    filter: blur(0);
  }
}

.responsive-embed {
  padding-bottom: 56.25%;
}

iframe {
  border      : none!important;
  border-color: transparent!important;
}